.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    background-color: rgb(223, 226, 231);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  .stats li {
    width: 99px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stats li:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
  }
  
  .label {
    color: grey;
    font-size: 15px;
  }
  
  .quantity {
    padding-top: 10px;
    font-weight: bold;
  }